<div class="container">
  <h1><%= @restaurant.name %></h1>

  <img src="https://source.unsplash.com/800x450/?restaurant" alt="picture of the restaurant">
  <ul>
    <li>
      <strong>Category:</strong> <%= @restaurant.category.capitalize %>
    </li>
    <li>
      <strong>Address:</strong> <%= @restaurant.address %>
    </li>
    <li>
      <strong>Contact us:</strong> <%= @restaurant.phone_number %>
    </li>
  </ul>

  <h3>Reviews for <%= @restaurant.name %></h3>
  <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
    <h5>Let us know what you think:</h5>
    <%= render "reviews/form", restaurant: @restaurant, review: @review %>
    <div data-insert-in-list-target="items">
      <p data-insert-in-list-target="noReviewsMsg" class=<%= @ordered_reviews.empty? ? "no-review-msg" : "d-none" %>>There are no reviews for this restaurant yet.</p>
      <ul class="list-group">
        <% @ordered_reviews.each do |review| %>
            <%= render "review", review: review %>
        <% end %>
      </ul>
    </div>

  </div>

  <br>

  <%= link_to "Back to restaurant list", restaurants_path, class:"btn btn-primary" %>
</div>
