<div class="container">
  <h1><%= @restaurant.name %></h1>

  <ul>
    <li>
      <strong>Category:</strong> <%= @restaurant.category.capitalize %>
    </li>
    <li>
      <strong>Address:</strong> <%= @restaurant.address %>
    </li>
    <li>
      <strong>Contact us:</strong> <%= @restaurant.phone_number %>
    </li>
  </ul>

  <p><strong>Reviews</strong></p>
  <div data-controller="insert-in-list">
    <div data-insert-in-list-target="items">
        <p data-insert-in-list-target="noReviewsMsg" class=<%= @restaurant.reviews.empty? ? "no-review-msg" : "d-none" %>>There are no reviews for this restaurant yet.</p>
        <ul class="list-group">
          <% @restaurant.reviews.each do |review| %>
              <%= render "review", review: review %>
          <% end %>
        </ul>
    </div>

    <h3>Add a review for <%= @restaurant.name %></h3>
    <%= render "reviews/form", restaurant: @restaurant, review: @review %>
  </div>

  <br>

  <%= link_to "Back to restaurant list", restaurants_path, class:"btn btn-primary" %>
</div>
